*.vsidx
.vs/ProyectoFinalCG/v17/Browse.VC.db
.vs/ProyectoFinalCG/v17/Browse.VC.db-shm
.vs/ProyectoFinalCG/v17/Browse.VC.db-wal
.vs/ProyectoFinalCG/v17/Browse.VC.opendb
/include
/lib
/x64
/.vs
assimp-vc143-mt.dll
assimp-vc143-mtd.dll
glad.c
glew32.dll
glfw3.dll
ProyectoFinalCG.sln
ProyectoFinalCG.vcxproj
ProyectoFinalCG.vcxproj.filters
ProyectoFinalCG.vcxproj.user
/shaders
SDL3.dll
ProyectoFinalCG.rar
ikpFlac.dll
ikpMP3.dll
irrKlang.dll
ProyectoFinalCG/x64/Debug/ProyectoFinal.obj
ProyectoFinalCG/x64/Debug/ProyectoFinalCG.ilk
ProyectoFinalCG/x64/Debug/ProyectoFinalCG.log
ProyectoFinalCG/x64/Debug/ProyectoFinalCG.tlog/CL.read.1.tlog
ProyectoFinalCG/x64/Debug/ProyectoFinalCG.tlog/link.read.1.tlog
ProyectoFinalCG/x64/Debug/vc143.idb
ProyectoFinalCG/x64/Debug/vc143.pdb
/ProyectoFinalCG/x64
/ProyectoFinalCG/x64
