*.vsidx
.vs/ProyectoFinalCG/v17/Browse.VC.db
.vs/ProyectoFinalCG/v17/Browse.VC.db-shm
.vs/ProyectoFinalCG/v17/Browse.VC.db-wal
.vs/ProyectoFinalCG/v17/Browse.VC.opendb
/include
/lib
/x64
/.vs
assimp-vc143-mt.dll
assimp-vc143-mtd.dll
glad.c
glew32.dll
glfw3.dll
ProyectoFinalCG.sln
ProyectoFinalCG.vcxproj
ProyectoFinalCG.vcxproj.filters
ProyectoFinalCG.vcxproj.user
/shaders
SDL3.dll
